@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    background:  linear-gradient(rgba(0, 0, 0, 0.3),rgba(134, 7, 7, 0.6)),url(bg.jpg.png);
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

nav {
    display: flex;
    align-items: center;
    padding: 1rem 3rem 0 3rem;
    justify-content: space-between;
}

nav a {
    text-decoration: none;
    color: white;
    padding-inline: 1rem;
}

a:hover {
    opacity: 0.7;
}

.left-nav {
    display: flex;
}

}

.right-nav img {
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.mid-info {
    color: white;
    padding: 10rem 5rem 0 5rem;
}

.name {
    font-size: 5rem;
    text-transform: default;
    line-height: 1;
}

.name span {
    font-weight: 900;
    letter-spacing: 2px;
}

.work {
    letter-spacing: 2.5px;
    font-size:30px;
}

       }
.sec-des-left {
    width: 45ch;
    font-size:20px;
}

.sec-des p {
    line-height: 2;
}

h3 {
    font-size: 3rem;
    color: rgb(210, 15, 15);
}


}


}

}




h2 {
    font-size: 10rem;
}

.free {
    font-weight: 600;
    text-decoration: underline;
}
name {
font-weight:30;
}

.right-nav img {
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}
.sec-des img {
    width: 30vw;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}
